.softdev-page{
    h1 {
        font-family: 'Coolvetica';
        font-size: 5.3rem;
        position: relative;
        margin-bottom: 1.6rem;
        text-align: center;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        margin-left: 10rem;
        margin-right: 10rem;
        width: 75vw;
        max-width: 3840px;
        position: relative;    
    }

}
