/* HTML: <div class="loader"></div> */
.loader {
  /* 120px -> 6.25vw, 22px -> 2.04vh */
  width: 6.25vw;
  height: 2.04vh;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  /* 2px -> 0.104vw */
  margin: 0.104vw;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}