.page {
    width: 100%;
    height: 100%;;
    position: absolute;
    overflow: auto;
    .tags {
        color: orangered;
        opacity: 0.6;
        position: absolute;
        bottom: 0;
        left: 200px;
        font-size: 18px;
        font-weight: 400;
        font-family: 'La Belle Aurore';
    }

    .var-tags {
        color: fuchsia;
        bottom: auto;
        top: 35px; 
    }

    .datatype-tags {
        color: cyan;
        left: 45px;
    }

    .operator-tags{
        color: yellow;
        left: 100px;
    }

    .container {
        position: absolute;
        will-change: contents;
        width: 100%;
        height: 100%;
        min-height: 566px;
        opacity: 0;
        top: 0;
        margin: 0 auto;
        z-index: 1;
        transform-style: preserve-3d;
        animation: fadeIn 1s forwards;
        animation-delay: 1.3s;
    }
    
    .home-page {
        margin: 0rem;
        margin-left: 10rem;
        height: 100%;
        width: 100%;
        position:absolute;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .about-page {
        margin: 0rem;
        margin-left: 10rem;
        height: 100%;
        width: 100%;
        position: relative; /* create stacking context for absolute dotgrid */
        align-items: center;
    }

    
    .contact-page {
        margin: 0rem;
        margin-left: 10rem;
        width: 100%;
        height: 100%;
        position:relative;
        align-items: center;
    }

    .softdev-page {
        margin: 0rem;
        margin-left: 10rem;
        width: 100%;
        height: auto;
        position:absolute;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .gamedev-page {
        margin: 0rem;
        margin-left: 10rem;
        width: 100%;
        height: auto;
        position:absolute;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}
