.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 { 
        color: white;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before{
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #00FFFF;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }

        &::after{
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #00FFFF;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            opacity: 0.6;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

    }

    h2 {
        color: gray;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;  
    }

    .flat-button {
        width: 140px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid #FF00FF;
        margin-top: 20px;
        float: left;
        animation: fadeInAnimation 1s 1.8s backwards;
        white-space: nowrap;


        &:hover {
            background-color: #00FFFF;
            border: 1px solid #00FFFF;
            color: black;
            transform: scale(1.1);
        }
    }

    .logo-container {
        z-index: 0;
        width: 60%;
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: auto;
        margin: auto;

        img{
            width: auto;
            height: 100%;
            position: absolute;
            animation: fadeInAnimation 1s backwards;
        }
    }

}