.nav-bar {
    background-color: #181818;
    width: 5.21vw;
    height: 100%;
    position: absolute;
    z-index: 3;
    min-height: 46.3vh;

    .logo {
        display: block;
        width: 100%;

            img {
            position: relative;
            justify-self: center;
            display: block;
            margin: 0.42vw 0.42vw;
            width: 100%;
            height: auto;
        }
    }


    nav {
        display: block;
        text-align: center;
        position: absolute;
    height: 25vh;
    top: 50%;
    margin-top: -11.11vh;
    width: 100%;

        a {
            font-size: 1.15vw;
            color: whitesmoke;
            display: block;
            line-height: 4.72vh;
            height: 4.72vh;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: cyan;
                svg {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

                &:after {
                content: '';
                font-size: 0.63vw;
                letter-spacing: 0.104vw;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
        }

        a.about-link {
                &:after {
                    content: 'ABOUT';
                }
            }

        a.contact-link {
            &:after {
                content: 'CONTACT';
            }
        }

        a.softdev-link {
            &:after {
                content: 'SOFT DEV';
            }
        }

        a.gamedev-link {
            &:after {
                content: 'GAME DEV';
            }
        }

        a.active-link{
            svg {
                color: #FF00FF;
            }
        }
    }

    ul{
        padding: 0;
        list-style: none;
    font-size: 0.94vw;
        text-align: center;
        text-decoration: none;
        
        li {   
            a {
                color: whitesmoke;
                display: block;
               

                &:hover {
                    color: cyan;
                    svg{
                        opacity: 0;
                    }
                    &:after {
                        opacity: 1;
                    }
                }

                &:after {
                    content: '';
                    font-size: 0.63vw;
                    letter-spacing: 0.104vw;
                    align-self: center;
                    position: relative;
                    bottom: 1.85vh;
                    display: block;
                    width: 100%;
                    opacity: 0;
                    transition: all 0.3s ease-out;
                }

                
                &:first-child {
                    &::after {
                        content: 'LinkedIn';
                    }
                }
            } 
            
            a.git {
                &::after {
                        content: 'GitHub';
                    }
            }

            a.wa {
                &::after {
                        content: 'WhatsApp';
                    }
            }
        }   
    }
}

  